<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%flash.each do |message_type, message|%>
      <%= content_tag(:div, message)%>
    <%end%>

    <% if logged_in? %>
      <%= "Ulogiran"%>
      <%= link_to "Sign out", sessions_new_path, method: :delete %>
    <%else%>
      <%= link_to "Sign in", sessions_new_path %>
    <%end%>
    <%= yield %>
    <%= debug(params) if Rails.env.development?%>
  </body>
</html>
